main section.sectionEat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-image: url("../assets/images/sobaczka2.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-attachment: fixed;
    background-position: left 20px top;
    box-shadow: 0px 9px 8px 0px beige;
    padding: 40px;
    box-sizing: border-box;
}

main section.sectionEat .eat {
    width: 500px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f8fdff;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px #818584;
    padding: 20px 10px;
}

main section.sectionEat .eat img {
    height: 200px;
}

main section.sectionEat .eat .price {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

main section.sectionEat .eat .price h3 {
    color: #007eb0;
    font-size: 40px;
    text-shadow: 2px 2px 1px #ba843b;
    margin: 0;
    font-family: Montserrat, cursive;
}

main section.sectionEat .eat:nth-child(even) .price h3 {
    color: #ffffff;
    text-shadow: 2px 2px 1px #0e0d0d;
    font-family: Montserrat, cursive;
}

main section.sectionEat .eat .price p {
    font-size: 40px;
    margin: 0;
    color: #e2d818;
    font-family: Montserrat, cursive;
    text-shadow: 2px 2px 2px rgb(98, 101, 255);
}

main section.sectionEat .eat:nth-child(even) .price p {
    color: #1a08e1;
    text-shadow: 2px 2px 1px #f7f7fd;
    font-family: Montserrat, cursive;
}

main section.sectionEat .eat:nth-child(even) {
    background-color: #d2f078;
    font-family: Montserrat, cursive;
}

main section.sectionEat .eat button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    font-family: Montserrat, cursive;
    font-size: 25px;
    border-radius: 40px;
    font-weight: bold;
    width: 380px;
    background-color: #686cdd;
    color: white;
    border: none;
    text-shadow: 1px 1px 1px #30305d;
}

main section.sectionEat .eat:nth-child(even) button {
    background-color: rgb(255, 255, 255);
    color: #2558f1;
    font-family: Montserrat, cursive;
}

main section.sectionEat .eat:nth-child(even) button:hover {
    background-color: rgb(250, 242, 242);
    color: #2558f1;
    transition: 700ms;
}

main section.sectionEat .eat:nth-child(even) button:active {
    background-color: rgb(228, 221, 221);
    color: #2558f1;
}

main section.sectionEat button:hover {
    background-color: #7277f1;
    cursor: pointer;
}

main section.sectionEat button:active {
    background-color: #656f8d;
    cursor: pointer;
}
