header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(102 158 255);
    background-image: url("../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left 40px top 10px;
    align-items: center;
}

header h1 {
    color: yellow;
    text-shadow: 4px 4px 2px #6a72c0, 2px 2px 4px #000000;
    letter-spacing: 2px;
    margin: 0;
    font-family: Montserrat, cursive;

}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    font-family: Montserrat, cursive;
}

header nav a:hover {
    transition: 500ms;
    background-color: rgb(228, 228, 29);
}

header nav a:visited {
    color: #e4e4e4;
}
