body {
    margin: 0;
}

.wrapper {
    font-family: cursive;
    background-color: #9aceff;
}

main {
    min-height: 800px;
}

main section .block {
    width: 100%;
}

@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/static/Montserrat-Regular.ttf");
}

